{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div class="uk-flex uk-flex-column vh-100">

        {% include "partials/navbar.partial.njk" %}

        {% include "partials/sidebar.partial.njk" %}

        <div class="uk-container uk-margin-auto-vertical uk-text-center">
            
            <div class="uk-heading-hero">{{app.title}}</div>
            <div class="uk-margin-medium-top">
                <div class="uk-text-lead uk-text-muted">
                    {{app.description}}
                </div>
            </div>
            
            <div class="uk-margin-large-top uk-flex uk-flex-center">
                <a href="https://github.com/tracingpaper/mosaic" class="uk-button uk-button-primary uk-button-large">
                    <i class="fab fa-github"></i>&nbsp;View in Github
                </a>
                <a href="#documentation" class="uk-button uk-button-secondary uk-button-large uk-margin-medium-left" uk-scroll="offset:80">
                    <i class="fa fa-book"></i>&nbsp;Read Docs
                </a>
            </div>

        </div>
    </div>

    {# Documentation #}
    {% include "sections/doc.section.njk" %}
    {# /Documentation #}

    {# Templates #}
    {% include "sections/templates.section.njk" %}
    {# /Templates #}

    {# Footer #}
    {% include "partials/footer.partial.njk" %}
    {# /Footer #}

{% endblock %}