<div class="uk-section uk-section-primary uk-padding-remove" uk-sticky>
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="mode: click">
        <div class="uk-navbar-item uk-navbar-left">
            <a href="#sidebar" class="uk-button uk-navbar-item" uk-toggle>
                <i class="fa fa-bars"></i>
            </a>
            <a href="{{app.url}}" class="uk-navbar-item uk-logo uk-text-secondary uk-visible@m">
                {{app.title}}
            </a>
        </div>
    </nav>
</div>