<div id="sidebar" uk-offcanvas="mode:push; overlay:true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true; offset:80">
            
            <li class="uk-nav-header">Documentation</li>

            <li><a href="#installation" uk-scroll="offset:80">Installation</a></li>
            <li><a href="#prerequisites" uk-scroll="offset:80">Prerequisites</a></li>
            <li><a href="#getting-started" uk-scroll="offset:80">Getting Started</a></li>
            <li><a href="#directory-structure" uk-scroll="offset:80">Directory Structure</a></li>
            <li><a href="#using-uikit" uk-scroll="offset:80">Using UI Kit</a></li>
            <li><a href="#using-babel" uk-scroll="offset:80">Using Babel</a></li>

            <li class="uk-nav-divider"></li>


        </ul>

    </div>
</div>